:root {
  /* Text */

  /* (sub-heading at the top of the app UI) */
  --Pale-Violet: hsl(276, 100%, 81%);
  /* (chat on the left) */
  --Moderate-Violet: hsl(276, 55%, 52%);
  /* (chat on the right) */
  --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
  /*  (placeholder text) */
  --Grayish-Blue: hsl(206, 6%, 79%);
  /* (main heading) */
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  /* (paragraph) */
  --Dark-Grayish-Violet: hsl(270, 7%, 64%);

  /* Gradients */
  /* These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient: */

  --Light-Magenta: hsl(293, 100%, 63%);
  --Light-Violet: hsl(264, 100%, 61%);

  /* Secondary */

  --White: hsl(0, 0%, 100%);
  /* (app background) */
  --Light-Grayish-Violet: hsl(270, 20%, 96%);
  /* (submit button background) */
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  /* (radio button outline) */
  --Very-Light-Magenta: hsl(289, 100%, 72%);
}

body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

main {
  display: flex;
  height: 100vh;
}

.mobile-section,
.text-section {
  flex-basis: 50%;
}

.mobile-section {
  padding-right: 7rem;
}

.mobile-section .mobile {
  max-width: 40%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  float: right;
  outline: 11px solid var(--White);
  margin: 4rem 0;
  z-index: 1;
  margin-right: 4rem;
}

.mobile-section .mobile .avatar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right,
      var(--Light-Violet),
      var(--Light-Magenta));
  color: var(--White);
  padding: 1rem;
  padding-top: 2rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 2;
  position: relative;
}

.mobile-section .mobile .avatar-section::before {
  content: "";
  position: absolute;
  top: -20px;
  width: 60%;
  height: 40px;
  left: 20%;
  background: var(--White);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.mobile-section .mobile .avatar-section img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid white;
  margin: 0 0.6rem;
}

.mobile-section .mobile .avatar-section .left {
  display: flex;
  align-items: center;
}

.mobile-section .mobile .avatar-section .left h6 {
  color: var(--Pale-Violet);
  font-weight: 400;
}

.mobile-section .mobile .chat {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--Light-Grayish-Violet);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.mobile-section .mobile .chat .message {
  max-width: 60%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.mobile-section .mobile .chat .left-message {
  background-color: hsla(276, 100%, 81%, 0.273);
  color: var(--Moderate-Violet);
}

.mobile-section .mobile .chat .right-message {
  background-color: var(--White);
  align-self: end;
}

.mobile-section .mobile .dog-imgs {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

.mobile-section .mobile .dog-imgs img {
  width: 3rem;
  height: 3rem;
  margin-left: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.mobile-section .mobile .purple-message {
  max-width: 65%;
  margin-bottom: 10px;
  border: none;
  padding: 10px;
  background: linear-gradient(to left,
      var(--Light-Violet),
      var(--Light-Magenta));
  color: var(--White);
  border-radius: 10px;
  border-bottom-left-radius: 3px;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 38px;
}

.mobile-section .mobile .purple-message input[type="radio"] {
  color: transparent;
  position: absolute;
  left: 10px;
  margin-right: 10px;
  transform: translateY(25%);
  -webkit-transform: translateY(25%);
  -moz-transform: translateY(25%);
  -ms-transform: translateY(25%);
  -o-transform: translateY(25%);
  accent-color: var(--Moderate-Violet);
}

.mobile-section .mobile .purple-message input[type="radio"]:after {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: -2px;
  left: 0;
  position: relative;
  background-color: var(--Light-Magenta);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid var(--Grayish-Blue);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.mobile-section .mobile .purple-message i:first-of-type {
  margin-right: 10px;
}

.mobile-section .mobile .purple-message span {

  font-weight: 700;
}

.mobile-section .mobile .type-message {
  width: 85%;
  margin-bottom: 10px;
  position: relative;
}

.mobile-section .mobile input[type='text'] {
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  width: 100%;
  height: 22px;
  outline: none;
}

.mobile-section .mobile input[type='text']::placeholder {
  color: var(--Grayish-Blue);
}

.mobile-section .mobile .type-message i {
  position: absolute;
  padding: 10px;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -33px;
  top: 5px;
  color: var(--White);
  background-color: var(--Very-Dark-Desaturated-Violet);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.text-section {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-section h1 {
  margin-bottom: 2rem;
  color: var(--Very-Dark-Desaturated-Violet);
}

.text-section p {
  color: var(--Dark-Grayish-Violet);
  max-width: 80%;
}

.purple-color,
.light-color {
  height: 85%;
  position: absolute;
  z-index: -1;

}

.mobile-section .purple-color {
  background: linear-gradient(to top, var(--Light-Violet), var(--Light-Magenta));
  width: 27%;
  left: 0;
  height: 125%;
  top: -300px;
  border-radius: 240px;
  -webkit-border-radius: 240px;
  -moz-border-radius: 240px;
  -ms-border-radius: 240px;
  -o-border-radius: 240px;
}

.text-section .light-color {
  width: 50%;
  background-color: var(--Light-Grayish-Violet);
  right: 0;
  bottom: 0;
  border-top-left-radius: 300px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}